@media (max-width: 768px) {
  .container-navbar img {
    display: none;
  }
  .container-navbar {
    display: block;
    height: auto;
  }
  .container-navbar a:link,
  a:visited {
    display: block;
    text-align: start;
    border: none;
  }
  .information {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
  .certificate-img {
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .certificate-img img {
    height: auto;
    width: auto;
  }
  #certificate-1,
  #certificate-2,
  #certificate-3 {
    border: none;
    border-bottom: 2px solid #d6c08d;
  }
}
